<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FontExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FontExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FontExplorer.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SampleText" serializeAs="String">
                <value>Lorem ipsum dolor sit amet, consectetur adipiscing elit</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>Black</value>
            </setting>
        </FontExplorer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FontExplorer.Properties.Settings>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>Font Explorer</value>
            </setting>
        </FontExplorer.Properties.Settings>
    </applicationSettings>
</configuration>